<h2>List of Brothers</h2>

<h3>Present</h3>
<ol>
<% present_count = 0 %>
<% late_count = 0 %>

<% @brothers.each do |brother| %>
    <li><div><%= link_to brother.to_s, brother_path(brother) %>
    <% if brother.on_time == false %>
        late
        <% late_count += 1 %>
    <% end %>
    <% present_count += 1 %>
    </div>
    
    </li>
    <% end %>
    <h4>Count: <%= present_count%> </h4>
    <h4>Late Count: <%= late_count%> </h4>
</ol>

<h3>Absent</h3>

